{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-5">Alerts</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">When</th>
          <th scope="col">Alert</th>
          <th scope="col">Severity</th>
          <th scope="col">Explanation</th>
          <th scope="col">Remediation</th>
        </tr>
      </thead>
      <tbody>
        {% for alert in alerts %}
        <tr>
          <th scope="row">{{ alert.timestamp }}</th>
          <td>{{ alert.name }}</td>
          <td>{{ alert.severity }}</td>
          <td>{{ alert.explanation }}</td>
          <td>{{ alert.remediation }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}