
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Anzu</h1>
      <div class="row">
        <p class="lead">Anzu is a simple IDS that focuses on enhancing home network security without relying on complex, business-grade firewalls or IDS systems, which are expensive and challenging for everyday homeowners to deploy, and often excessive for personal use.</p>
      </div>     
    </div>
</div><!-- /.jumbotron -->
{% endblock %}

